body {
    background: #f2f6fc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.footer{
    justify-content: center;
    height: 1px;
    display: flex;

}

.calculator {
    max-width: 320px;
    margin: 80px auto;
    padding: 28px 20px 30px 20px;
    border: 2px solid #a86767;
    border-radius: 12px;
    background: #797c95;
    box-shadow: 0 4px 16px rgba(0,0,0,0.07);
    text-align: center;
}


input[type="number"] {
    width: 77%;
    padding: 10px;
    margin: 14px 0;
    border: 1px solid #bfc6db;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.2s;
}

input[type="number"]:focus {
    border-color: #6490ec;
}

select {
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #bfc6db;
    font-size: 1em;
    background-color: #f8f9fc;
}

button {
    background: #468cf7;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 7px;
    padding: 12px 30px;
    cursor: pointer;
    margin-top: 14px;
    transition: background 0.2s;
}

button:hover {
    background: #2a71d0;
}

h3#result {
    margin-top: 22px;
    color: #f3f4f6;
    font-size: 1.15em;
    font-weight: 500;
}
